In [158]:
import requests as req
from bs4 import *
import ssl
import csv
import pandas as pd

In [159]:
# #ignore ssl certificate error
# ctx = ssl.create_default_context()
# ctx.host_name = False
# ctx.verfy_mode = ssl.CERT_NONE

In [160]:
r1 = req.get("https://en.wikipedia.org/wiki/List_of_highest-grossing_films#Highest-grossing_films")

In [161]:
type(r1)

requests.models.Response

In [162]:
soup = BeautifulSoup(r1.text,'html.parser')

In [163]:
l=soup.select('title')

In [169]:
count = 0
lines = ['Rank','Peak','Worldwide gross','Year','Reference','Title']
with open('movies.csv', 'w') as writeFile:
    writeFile.write(",".join(lines))
    writeFile.write('\n')
writeFile.close()
rows_list = []   
for table in soup.find_all("tbody"):
    row = table.find_all('tr')
    for r in row:
        col = r.find_all("td")
        movie_name = r.find_all("th")
        #print(movie_name)
        movie_name = r.find_all("i")
        
        csv_row = []
        
        
        if(len(movie_name)) >=1:
            #print(movie_name[0].getText())
            movie_title = movie_name[0].getText()
        for i in col:
            data = i.getText().strip()
            print(data,end = ',')
            csv_row.append(data)
            
            
        if(len(movie_name)) >=1:
            m = movie_title.replace(':',"")
            csv_row.append(m)
            print(m , end = "")
            rows_list.append(csv_row)
            
            #remove ':' from strings it is invalin in csv (clean string)
            #Avengers: Endgame -->  Avengers Endgame
            
            with open("movies.csv",'a') as f:
                f.write(','.join(csv_row))
                f.write('\n')

        
        print()
        #print(rows_list)
        count +=1
        
    if count > 50:
        f.close()
        break
df=pd.DataFrame(rows_list,columns=lines)
print(df)
# writer = pd.ExcelWriter('movie1.xlsx')
# df.to_excel(writer)
# writer.save()

"""FORMAT THE MOVIE TITLE """

1,1,$2,796,274,401,2019,[# 1][# 2],Avengers Endgame
2,1,$2,789,679,794,2009,[# 3][# 4],Avatar
3,1,$2,187,463,944,1997,[# 5][# 6],Titanic
4,3,$2,068,223,624,2015,[# 7][# 8],Star Wars The Force Awakens
5,4,$2,048,359,754,2018,[# 9][# 10],Avengers Infinity War
6,3,$1,671,713,208,2015,[# 11][# 12],Jurassic World
7,7,$1,640,318,040,2019,[# 13][# 2],The Lion King
8,3,$1,518,812,988,2012,[# 14][# 15],The Avengers
9,4,$1,516,045,911,2015,[# 16][# 17],Furious 7
10,5,$1,405,403,694,2015,[# 18][# 17],Avengers Age of Ultron
11,9,$1,346,913,161,2018,[# 19][# 20],Black Panther
12,3,$1,341,693,157,2011,[# 21][# 22],Harry Potter and the Deathly Hallows – Part 2
13,9,$1,332,539,889,2017,[# 23][# 24],Star Wars The Last Jedi
14,12,$1,309,484,461,2018,[# 25][# 10],Jurassic World Fallen Kingdom
15,5,F$1,290,000,000,2013,[# 26][# 27],Frozen
16,10,$1,263,521,126,2017,[# 28][# 29],Beauty and the Beast
17,15,$1,242,805,359,2018,[# 30][# 10],Incredibles 2
18,11,F8$1,238,764,765,2017,[# 31][# 29],The Fate of the Furious
19,5,$1,214,811,252,2013,[# 32][# 33],Iron Man 3
20,10,$1,159,398,397,2015,[# 34][# 12],Minions
21,12,$1,153,304,495,2016,[# 35][# 36],Captain America Civil War
22,20,$1,147,961,807,2018,[# 37][# 10],Aquaman
23,23,$1,130,838,626,2019,[# 38][# 2],Spider-Man Far From Home
24,22,$1,128,274,794,2019,[# 39][# 40],Captain Marvel
25,4,$1,123,794,079,2011,[# 41][# 22],Transformers Dark of the Moon
26,2,$1,120,237,002,2003,[# 42][# 43],The Lord of the Rings The Return of the King
27,7,$1,108,561,013,2012,[# 44][# 45],Skyfall
28,10,$1,104,054,072,2014,[# 46][# 47],Transformers Age of Extinction
29,7,$1,084,939,099,2012,[# 48][# 49],The Dark Knight Rises
30,4TS3,$1,066,969,703,2010,[# 50][# 51],Toy Story 3
31,3,$1,066,179,725,2006,[# 52][# 53],Pirates of the Caribbean Dead Man's Chest
32,32,$1,065,973,326,2019,[# 54][# 2],Toy Story 4
33,20,$1,056,057,273,2016,[# 55][# 56],Rogue One A Star Wars Story
34,34,$1,050,212,629,2019,[# 57][# 2],Aladdin
35,6,$1,045,713,802,2011,[# 58][# 51],Pirates of the Caribbean On Stranger Tides
36,24,$1,034,799,409,2017,[# 59][# 29],Despicable Me 3
37,1,$1,029,939,903,1993,[# 60][# 61],Jurassic Park
38,22,$1,028,570,889,2016,[# 62][# 63],Finding Dory
39,2,$1,027,044,677,1999,[# 64][# 6],Star Wars Episode I – The Phantom Menace
40,5,$1,025,467,110,2010,[# 65][# 66],Alice in Wonderland
41,24,$1,023,784,195,2016,[# 67][# 36],Zootopia
42,14,$1,021,103,568,2012,[# 68][# 69],The Hobbit An Unexpected Journey
43,4,$1,004,934,033,2008,[# 70][# 71],The Dark Knight
44,2PS,$975,051,288,2001,[# 72][# 73],Harry Potter and the Philosopher's Stone
45,19DM2,$970,761,885,2013,[# 74][# 33],Despicable Me 2
46,2,$968,483,777,1994,[# 75][# 61],The Lion King
47,30,$966,550,600,2016,[# 76][# 77],The Jungle Book
48,5,$963,420,425,2007,[# 78][# 79],Pirates of the Caribbean At World's End
49,40,$962,126,927,2017,[# 80][# 20],Jumanji Welcome to the Jungle
50,10,$960,431,568,2010,[# 81][# 82],Harry Potter and the Deathly Hallows – Part 1
   Rank   Peak   Worldwide gross  Year     Reference  \
0     1      1    $2,796,274,401  2019    [# 1][# 2]
1     2      1    $2,789,679,794  2009    [# 3][# 4]
2     3      1    $2,187,463,944  1997    [# 5][# 6]
3     4      3    $2,068,223,624  2015    [# 7][# 8]
4     5      4    $2,048,359,754  2018   [# 9][# 10]
5     6      3    $1,671,713,208  2015  [# 11][# 12]
6     7      7    $1,640,318,040  2019   [# 13][# 2]
7     8      3    $1,518,812,988  2012  [# 14][# 15]
8     9      4    $1,516,045,911  2015  [# 16][# 17]
9    10      5    $1,405,403,694  2015  [# 18][# 17]
10   11      9    $1,346,913,161  2018  [# 19][# 20]
11   12      3    $1,341,693,157  2011  [# 21][# 22]
12   13      9    $1,332,539,889  2017  [# 23][# 24]
13   14     12    $1,309,484,461  2018  [# 25][# 10]
14   15      5   F$1,290,000,000  2013  [# 26][# 27]
15   16     10    $1,263,521,126  2017  [# 28][# 29]
16   17     15    $1,242,805,359  2018  [# 30][# 10]
17   18     11  F8$1,238,764,765  2017  [# 31][# 29]
18   19      5    $1,214,811,252  2013  [# 32][# 33]
19   20     10    $1,159,398,397  2015  [# 34][# 12]
20   21     12    $1,153,304,495  2016  [# 35][# 36]
21   22     20    $1,147,961,807  2018  [# 37][# 10]
22   23     23    $1,130,838,626  2019   [# 38][# 2]
23   24     22    $1,128,274,794  2019  [# 39][# 40]
24   25      4    $1,123,794,079  2011  [# 41][# 22]
25   26      2    $1,120,237,002  2003  [# 42][# 43]
26   27      7    $1,108,561,013  2012  [# 44][# 45]
27   28     10    $1,104,054,072  2014  [# 46][# 47]
28   29      7    $1,084,939,099  2012  [# 48][# 49]
29   30   4TS3    $1,066,969,703  2010  [# 50][# 51]
30   31      3    $1,066,179,725  2006  [# 52][# 53]
31   32     32    $1,065,973,326  2019   [# 54][# 2]
32   33     20    $1,056,057,273  2016  [# 55][# 56]
33   34     34    $1,050,212,629  2019   [# 57][# 2]
34   35      6    $1,045,713,802  2011  [# 58][# 51]
35   36     24    $1,034,799,409  2017  [# 59][# 29]
36   37      1    $1,029,939,903  1993  [# 60][# 61]
37   38     22    $1,028,570,889  2016  [# 62][# 63]
38   39      2    $1,027,044,677  1999   [# 64][# 6]
39   40      5    $1,025,467,110  2010  [# 65][# 66]
40   41     24    $1,023,784,195  2016  [# 67][# 36]
41   42     14    $1,021,103,568  2012  [# 68][# 69]
42   43      4    $1,004,934,033  2008  [# 70][# 71]
43   44    2PS      $975,051,288  2001  [# 72][# 73]
44   45  19DM2      $970,761,885  2013  [# 74][# 33]
45   46      2      $968,483,777  1994  [# 75][# 61]
46   47     30      $966,550,600  2016  [# 76][# 77]
47   48      5      $963,420,425  2007  [# 78][# 79]
48   49     40      $962,126,927  2017  [# 80][# 20]
49   50     10      $960,431,568  2010  [# 81][# 82]

                                            Title
0                                Avengers Endgame
1                                          Avatar
2                                         Titanic
3                     Star Wars The Force Awakens
4                           Avengers Infinity War
5                                  Jurassic World
6                                   The Lion King
7                                    The Avengers
8                                       Furious 7
9                          Avengers Age of Ultron
10                                  Black Panther
11  Harry Potter and the Deathly Hallows – Part 2
12                        Star Wars The Last Jedi
13                  Jurassic World Fallen Kingdom
14                                         Frozen
15                           Beauty and the Beast
16                                  Incredibles 2
17                        The Fate of the Furious
18                                     Iron Man 3
19                                        Minions
20                      Captain America Civil War
21                                        Aquaman
22                       Spider-Man Far From Home
23                                 Captain Marvel
24                  Transformers Dark of the Moon
25   The Lord of the Rings The Return of the King
26                                        Skyfall
27                 Transformers Age of Extinction
28                          The Dark Knight Rises
29                                    Toy Story 3
30      Pirates of the Caribbean Dead Man's Chest
31                                    Toy Story 4
32                    Rogue One A Star Wars Story
33                                        Aladdin
34     Pirates of the Caribbean On Stranger Tides
35                                Despicable Me 3
36                                  Jurassic Park
37                                   Finding Dory
38       Star Wars Episode I – The Phantom Menace
39                            Alice in Wonderland
40                                       Zootopia
41               The Hobbit An Unexpected Journey
42                                The Dark Knight
43       Harry Potter and the Philosopher's Stone
44                                Despicable Me 2
45                                  The Lion King
46                                The Jungle Book
47        Pirates of the Caribbean At World's End
48                  Jumanji Welcome to the Jungle
49  Harry Potter and the Deathly Hallows – Part 1